
.statsLayoutContent{
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
}
.statsLayoutHeader{
    margin-bottom: 1rem;
    text-transform: capitalize;
    line-height: 2rem;
    font-weight: 800;
    font-size: 1.5rem;
}