.teamLineup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 .8rem;
  align-items: center;
}
.teamLineupAway {
  flex-direction: row-reverse;
  margin-top: 0.8rem;
}
.teamLineupHome {
  flex-direction: row;
  margin-bottom: 0.8rem;
}
.teamLineupHeader {
  font-size: 1.2rem;
  display: flex;
  gap: 0.4rem;
  font-weight: 700;
  text-transform: capitalize;
  align-items: center;
}
.teamLineupHeaderAway {
  flex-direction: row-reverse;
}
.teamLineupHeaderHome {
  flex-direction: row;
}
.teamLineupFormation{
    font-size: 1.2rem;
    font-weight: 700;
}