.sideStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.sideStatsTitle {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
}

@media (width < 680px) {
  .sideStats {
    flex-direction: row-reverse;
    padding-top: 1.1rem;
  }
  .sideStatsTitle{
    font-size: .9rem;
  }
  :global(.awayStats) .sideStatsTitle {
    display: none;
  }
  :global(.homeStats) {
    flex: 1 ;
    
  }
  :global(.homeStats) .sideStatsTitle{
    flex: 1 ;
    text-align: center;
  }
}
