.landingContainer {
  min-height: 55vh;
background: linear-gradient(100deg,rgba(0, 0, 0, 0.59) 30%, rgba(104, 40, 158, 1) 100%);
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 5.5rem;
}
.isInLandingPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
