.statSection{
  width: calc((100% - 3 * .6rem) / 4);
}
.statCard {
  background: var(--warm-gray);
  overflow: hidden;
  border-radius: .7rem;
}
.statCardHeader{
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  text-transform: capitalize;
}
.topStat {

  height: 12.25rem;
  position: relative;
  background: var(--club-color-background);
}
.topContent{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.topStatInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 0.7rem;
  color: var(--text-color);
  height: 100%;
}
.topInfo {
  font-weight: 600;
  text-transform: capitalize;
}
.topPos {
  font-size: 1.2rem;
}
.topFirstName {
  font-size: 1.1rem;
  line-height: 1.2rem;
}
.topLastName,.topClubHeroName {
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: capitalize;
}
.topClub {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem 0;
}
.topClubName {
  font-size: 0.8rem;
  font-weight: 600;
}
.topStatRecord {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8rem;
}
.topimgContainer{
  display: flex;
  align-items: center;
}
.topPlayerImg {
  margin-top: 1rem;
}
.topClubImg{
  padding: 0 1.2rem;
}
.statRow {
  display: flex;
  padding: 0.8rem 1.2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--background);
}
.statRowContent {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.statRowPos {
  font-size: 0.8rem;
  font-weight: 900;
}
.statRowInfo {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.statRowName ,.statRowClubName{
    font-size: .8rem;
    font-weight: 800;
    line-height: .8rem;
}
.statRowClubName {
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 300;
}
.statRowRecord {
    font-weight: 900;
}
.statButtonContainer{
    padding: .8rem 1rem;
}
.statButton{
    position: relative;
    padding: .8rem 1.2rem;
    text-align: center;
    background: var(--SecondColor);
    border-radius: .7rem;
    font-weight: 800;
    line-height: .8rem;
    text-transform: capitalize;
}
.statButton:hover{
    opacity: .76;
}
@media (max-width: 1200px){
  .statSection{
    width: calc((100% - 2 * .6rem) / 3);
    
  }
}
@media (max-width: 900px) {
  .statSection{
    width: calc((100% - 1  * .6rem) / 2);
  }
}
@media (max-width: 600px){
  .statSection{
    width: 100%;
  }
}