.sponsoresSection{
    border-top: 1px solid var(--warm-gray);
    padding-top: 1.8rem;
}
.sponsores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sponsoresList{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.footerWrapper{
    border-bottom: 1px solid var(--light-purple);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.footer{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background: var(--warm-gray);
}
.footericon{
    width: 6rem;
    aspect-ratio: 16/9;
    position: relative;
    display: block;
    margin-bottom: 2rem;
}
.footerContent{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: .8rem 0;

}

.footerinfo{
    flex-basis: 40%;
}
.footerName{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
}
.footerDetails{
    font-size: .9rem;
    font-weight: 400;
    opacity: 65%;
}
.footerLinksContainer{
    display: flex;
    gap: 2rem;

    flex-wrap: wrap;
}
.footerLinks{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.copyRightContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem .8rem 0;
    gap: .8rem;
}
.copyRightTextContainer{
    font-weight: 800;
    text-transform: uppercase;
    font-size: .9rem;
}
.copyRightText{
    display: inline-block;
    margin-left: .4rem;


}
@media (max-width: 768px){
    .footerContent{
        flex-direction: column;
    }
}
@media (max-width: 480px){
    .copyRightContent{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .copyRightTextContainer{
        font-size: .8rem;
    }
}