.substitutes {
  width: 50%;
  border: 1px solid var(--warm-gray);
}
.substitutesHeader {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 1rem;
  background-color: var(--warm-gray);
}
.teamSubstitutesLogo {
  position: relative;
  width: 55px;
  height: 55px;
}
.substitutesTitle {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.substitutesList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.substituteItem{
  display: flex;
  align-items: center;
  width: 100%;
}
.substituteItem:nth-child(even){
  background-color: var(--warm-gray);
}
.substitutesManager{
  padding: 0.255rem 0.75rem;
  font-size: .775rem;
  background-color: var(--light-purple);
  color: var(--warm-gray);
  font-weight: 800;
  text-transform: uppercase;
}
.substitutesCoachCard{
  background-color: var(--SecondColor);
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.substitutesCoachInfo{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
.substitutesCoachNationality{
  background-color: var(--warm-gray);
  color: var(--black);
  font-weight: 700;
  font-size: .45rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
@media (max-width: 680px) {
  .substitutesHeader {
    gap: 0.25rem;
  }
  .substitutesTitle {
    font-size: 0.8rem;
  }
  .teamSubstitutesLogo {
    width: 45px;
    height: 45px;
  }
  .substitutesManager{
    font-size: .65rem;
  }
  .substitutesCoachCard{
    padding: .5rem;
    gap: .15rem;
  }
}
