.scoreBoard {
  width: 100%;
  display: flex;
  position: relative;
  padding: 3rem 0;
  flex-direction: column;
}

.infoAboutMatch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchContent {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.matchContentHeading {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.matchContentBottom {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.matchTemplate {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}
.main {
  width: 70%;
  margin-top: 3rem;
}
.sideBar {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  margin-top: 40px;
}

/* page*/
.statsMatch {
  padding: 2rem;
}
.statsInfo {
  display: flex;
  margin-bottom: 1.2rem;
  justify-content: space-around;
}
.overView {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-direction: column;
  flex: 1 1;
}
.StatsTeamLogo {
  flex: 0 0 140px;
  display: flex;
  justify-content: center;
}
.matchStatsHeading {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 2.3rem;
}
.matchStatsTeamsNames {
  letter-spacing: -0.2px;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  gap: 2.5px;
  display: flex;
}
.sideBarStats{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.statsContainer {
  display: flex;
  gap: 1.5rem;
}
.statsMainContainer {
  flex: 1;
}

.percentage {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
@media (width < 991) {
  .matchTemplate {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .sideBar {
    max-width: 100%;
  }
}
@media (width < 680px) {
  .statsMatch {
    padding: 0;
  }
  .statsContainer {
    flex-wrap: wrap;
  }
  .statsMainContainer {
    order: -1;
    flex: 1 1 100%;
  }
  .matchStatsHeading {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .matchStatsTeamsNames {
    font-size: 0.6rem;
  }
  .StatsTeamLogo{
    flex: 0 0 80px;
  }
}
@media (width < 768px) {
  .matchContent {
    gap: 0.5rem;
  }
  .scoreBoard {
    padding: 1.5rem 0;
  }
  .matchContentHeading {
    flex-wrap: wrap;
    column-gap: 1.6rem 16px;
    row-gap: 0.8rem;
  }
  .matchContentBottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sideBar {
    min-width: 100%;
  }
}

@media (max-width: 680px) {
  .awayStats .sideStatsTitle {
    display: none;
  }
  .statsContainer{
    gap: 0;
  }
}
