.eventBox {
  display: flex;
  font-size: 0.8rem;
  line-height: 1.35rem;
  flex-direction: column;
  font-weight: 600;
}

.AwayContentEvent {
  flex-direction: row-reverse;
}
.eventContent {
  display: flex;
  gap: 0.4rem;
}
.playerEventName {
  text-transform: capitalize;
}
.eventIcon {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
}
.awayEventIcon {
  flex-direction: row;
}
.eventIconImg {
  width: 1rem;
  height: 1rem;

  position: relative;
}
.subInfo {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.6rem;
}
@media (width < 768px) {
  .eventBox {
    font-size: 0.8rem;
    line-height: normal;
    
  }
  .eventContent {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0.01rem;
  }
  .eventIcon {
    align-items: center;
  }
  .eventIconImg{
    width: .8rem;
    height: .8rem;
  }
  .AwayContentEvent {
    align-items: flex-start;
  }
}
