.lazyLoadingImg{
    width: 100%;
    animation-name: lazyLoadinganimtion;
    animation-duration: 4s;
    animation-timing-function: linear;
    height: 100%;
}


@keyframes lazyLoadinganimtion{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}