.playerCard {
  width: 22rem;
  height: 26rem;
  position: relative;
  z-index: 1;
}
.playerCard {
  position: relative;
  background: var(--club-color-background);
}
.Link{
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.playerNamberKit {
  display: flex;
  padding: 1rem;
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.408);
}
.playerNamber {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 700;
}
.playerImage {
  position: relative;
  width: 100%;
  height: 100%;
}
.playerDetails {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  color: var(--text-color);
  transform: translateX(-50%);
  background: linear-gradient(180deg, #fff0 0, var(--club-primary-color) 55%);
}
.playerName {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.playerStats {
  display: flex;
  margin: 0.8rem 0;
  justify-content: space-around;
}
.playerSubInfoitems {
  display: flex;
  align-items: center;
}
.playerSubInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
  font-weight: 700;
  padding: 0 1.2rem;
  text-transform: uppercase;
  gap: 0.2rem;
  height: 100%;
}
.playerSubInfo:not(:last-child) {
  border-right: 3px solid var(--text-color);
}
.playerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
}
@media (max-width: 990px){
    .playerCard{
      width: 18rem;
      height: 24rem;
    }
}