.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  position: sticky;
  top: 0;
  z-index: 50;
}
.headerContainer {
  flex-grow: 1;
}
.headerContent{
  width: 100%;
  max-width: 85rem;
  margin: 0 auto; 
  position: relative; 
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 .8rem;

}
.headerNavList {
  display: flex;
}
.headerNavListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 4px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.headerNavListItem:hover {
  border-color: var(--SecondColor);
}
.NavLinkIsActive{
  border-color: var(--SecondColor);
  color: var(--SecondColor);
}
@media (width < 768px) {
  .header{
    padding: .8rem 0;
  }
  .menuOpened .headerContainer{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display: block;
  }
  .headerContainer {
    position: fixed;
    left: 0;
    opacity: 0;
    top: 4rem;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--background);
  }
  .headerNav {
    height: calc(100% - 5.8rem);
    overflow: auto;
    background-color: var(--warm-gray);
    margin: 0.6rem;
    padding: 0.8rem 0;
    border-radius: 0.4rem;
  }
  .headerNavList {
    flex-direction: column;
  }
  .headerNavListItem {
    border-bottom: none;
    justify-content: flex-start;
    border-left: 4px solid transparent;
  }
}
